sudo: true
dist: xenial
language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - pypy2.7-6.0
  - pypy3.5-6.0
install:
  - pip install -r tests/requirements.txt
  - pip install coveralls
script:
  - nosetests --with-coverage --cover-erase --cover-package=redminelib
after_success:
  - coveralls
