div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

a.reference.external.image-reference {
    text-decoration: none;
    border-bottom: 0;
}

pre {
    padding-left: 15px;
}

dl pre, blockquote pre {
    margin-left: -30px;
    padding-left: 15px;
}

dl dl pre, li pre {
    margin-left: 0;
    padding-left: 15px;
}

pre, tt {
    font-size: 14px;
}

dl.method {
    font-size: 16px;
}

.highlight .go {
    color: #888888;
}

ol.parent {
    margin-top: 17px;
    margin-left: 0;
}

ol.parent>li {
    margin-bottom: 10px;
}

ol.multinum {
    counter-reset: item;
}

ol.multinum.parent {
    counter-reset: item;
}

ol.multinum>li {
    display: block;
}

ol.multinum>li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

.feature-matrix {
    width: 100%;
    margin-bottom: 24px;
}

.feature-matrix td {
    background-color: #f3f6f6;
    padding: 10px 5px;
    border: 1px solid #e1e4e5;
}

.feature-matrix th {
    font-weight: normal;
    padding: 10px 5px;
    border: 1px solid #e1e4e5;
}

.feature-matrix .edition {
    background-color: #f3f6f6;
    font-weight: bold;
    text-align: center;
}

.feature-matrix .invisible-cell {
    border: 0;
}

.feature-matrix .group {
    padding-left: 10px;
    font-weight: bold;
}

.feature-matrix .feature {
    padding-left: 10px;
}

.feature-matrix .implemented {
    background-color: #e3f6e7;
    color: #3d8940;
    text-align: center;
}

.feature-matrix .not-implemented {
    background-color: #fff0f2;
    color: #b02d37;
    text-align: center;
}
